<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GMonGr.Properties.Settings.GwMonitoringConnectionString"
            connectionString="Data Source=WS09884\SQLEXPRESS;Initial Catalog=GWMONITORING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GMonGr.Properties.Settings.UserUpdateConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Template;Persist Security Info=False;Extended Properties=&quot;text;FMT=Delimited(,);HDR=Yes&quot;"
            providerName="System.Data.OleDb" />
        <add name="GMonGr.Properties.Settings.GwMonUpdateConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GWMonitoring.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>